@import "tailwindcss";
@plugin "daisyui";



.emoji-icon {
  font-family: 'Noto Color Emoji', 'Segoe UI Emoji', 'Apple Color Emoji', sans-serif;
}

@theme {
  --font-hind: var(--font-hind-siliguri);
  --font-noto: var(--font-noto-sans-bengali);
}

.emoji-icon {
  font-family: var(--font-noto-color-emoji);
}

body {
  background-color: #F3FBF4;
  text-color: #1D271F;
  font-family: var(--font-hind-siliguri), sans-serif;
}
