@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-hind: var(--font-hind-siliguri);
  --font-noto: var(--font-noto-sans-bengali);
}

body {
  background-color: #F3FBF4;
  text-color: #1D271F;
  font-family: var(--font-hind-siliguri), sans-serif;
}
